
          <div class="main-navbar sticky-top bg-white">
              <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
                <form  class=" w-100 d-none d-md-flex d-lg-flex" id="form-search">
                    <select class="js-example-basic-single"  id="peaje-selected" >
                      {% if 'estadistica/peaje' in request.path %}
                      <option value="El Bordo">Cauca-El Bordo</option>
                      <option value="Los Llanos">Antioquia-Los Llanos</option>
                      <option value="Taraza">Antioquia-Taraza</option>
                      <option value="Cocorna">Antioquia-Cocorna</option>
                      <option value="Puerto Triunfo">Antioquia-Puerto Triunfo</option>
                      <option value="Rio Frio">Valle Del Cauca-Rio Frio</option>
                      <option value="Toro">Valle Del Cauca-Toro</option>
                      <option value="Cencar">Valle Del Cauca-Cencar</option>
                      <option value="Cerrito">Valle Del Cauca-Cerrito</option>
                      <option value="Ciat">Valle Del Cauca-Ciat</option>
                      <option value="Estambul">Valle Del Cauca-Estambul</option>
                      <option value="Mediacanoa">Valle Del Cauca-Mediacanoa</option>
                      <option value="Paso de la Torre">Valle Del Cauca-Paso De La Torre</option>
                      <option value="Rozo">Valle Del Cauca-Rozo</option>
                      <option value="Villarica">Valle Del Cauca-Villarica</option>
                      <option value="Tunia">Valle Del Cauca-Tunia</option>
                      <option value="Loboguerrero">Valle Del Cauca-Loboguerrero</option>
                      <option value="Bicentenario">Cundinamarca-Bicentenario</option>
                      <option value="Casablanca">Cundinamarca-Casablanca</option>
                      <option value="Carimagua">Cordoba-Carimagua</option>
                      <option value="Arcabuco">Boyaca-Arcabuco</option>
                      <option value="El Crucero">Boyaca-El Crucero</option>
                      <option value="Sachica">Boyaca-Sachica</option>
                      <option value="Saboya">Boyaca-Saboya</option>
                      <option value="Cano">Nariño-Cano</option>
                      <option value="Daza">Nariño-Daza</option>
                      <option value="Platanal">Cesar-Platanal</option>
                      <option value="San Diego">Cesar-San Diego</option>
                      <option value="San Juan">Cesar-San Juan</option>
                      <option value="Morrison">Cesar-Morrison</option>
                      <option value="Pailitas">Cesar-Pailitas</option>
                      <option value="Rincon Hondo">Cesar-Rincon Hondo</option>
                      <option value="Zambito">Cesar-Zambito</option>
                      <option value="Cerritos II">Risaralda-Cerritos Ii</option>
                      <option value="Rio Blanco">Santander-Rio Blanco</option>
                      <option value="Oiba">Santander-Oiba</option>
                      <option value="Los Curos">Santander-Los Curos</option>
                      <option value="Gamarra">Santander-Gamarra</option>
                      <option value="La Gomez">Santander-La Gomez</option>
                      <option value="Aguas Negras">Santander-Aguas Negras</option>
                      <option value="San Clemente">Caldas-San Clemente</option>
                      {% elif 'estadistica/departamental' in request.path %}
                      <option value="Cesar">Cesar</option>
                      <option value="Cauca">Cauca</option>
                      <option value="Antioquia">Antioquia</option>
                      <option value="Valle del Cauca">Valle Del Cauca</option>
                      <option value="Cundinamarca">Cundinamarca</option>
                      <option value="Cordoba">Cordoba</option>
                      <option value="Boyaca">Boyaca</option>
                      <option value="Nariño">Nariño</option>
                      <option value="Risaralda">Risaralda</option>
                      <option value="Santander">Santander</option>
                      <option value="Caldas">Caldas</option>
                      {% elif 'estadistica/general' in request.path %}
                      
                      
                      {% endif %}
                    </select>
                    
                </form>
                
                {% if user.is_authenticated %}
                  <ul class="navbar-nav border-left flex-row ">
                    <li class="nav-item border-right dropdown notifications">
                      <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="nav-link-icon__wrapper">
                          <i class="material-icons">&#xE7F4;</i>
                          <span class="badge badge-pill badge-danger">2</span>
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">
                          <div class="notification__icon-wrapper">
                            <div class="notification__icon">
                              <i class="material-icons">&#xE6E1;</i>
                            </div>
                          </div>
                          <div class="notification__content">
                            <span class="notification__category">Análisis</span>
                            <p>El numero de vehiculos ha descendido un 
                              <span class="text-danger text-semibold">6%</span> en los ultimos dias!</p>
                          </div>
                        </a>
                        <a class="dropdown-item" href="#">
                          <div class="notification__icon-wrapper">
                            <div class="notification__icon">
                              <i class="material-icons">&#xE8D1;</i>
                            </div>
                          </div>
                          <div class="notification__content">
                            <span class="notification__category">Recaudo</span>
                            <p>El viernes fue el dia con el mejor recaudo  con 
                              <span class="text-success text-semibold">7%</span>. con respecto al viernes anterior</p>
                          </div>
                        </a>
                        <a class="dropdown-item notification__all text-center" href="#"> View all Notifications </a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle mr-2" src="/static/assets/img/Invias.png" alt="User Avatar">
                        <span class="d-none d-md-inline-block">
                          {{ request.user.username }}
                        </span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-small">
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href={% url 'logout' %} >
                          <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                      </div>
                    </li>
                  </ul>
                {% endif %}

                <nav class="nav">
                  <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                    <i class="material-icons">&#xE5D2;</i>
                  </a>
                </nav>
              </nav>
          </div>
