
          <div class="main-navbar sticky-top bg-white">
              <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
                <form  class=" w-100 d-none d-md-flex d-lg-flex" id="form-search">
                    <select class="js-example-basic-single"  id="peaje-selected" >
                      {% if 'estadistica/peaje' in request.path %}
                      <option value="Lobo_Guerrero">Valle Del Cauca-Lobo Guerrero</option>
                      <option value="San_Juan">Guajira-San Juan del Cesar</option>
                      <option value="Rincon_Hondo">Cesar-Rincon Hondo</option>
                      <option value="San_Diego">Cesar-San Diego</option>
                      <option value="Cocorna_Santuario">Antioquia-Cocorna (Santuario)</option>
                      <option value="Puerto_Triunfo">Antioquia-Puerto Triunfo</option>
                      <option value="Guamal">Magdalena-Guamal</option>
                      <option value="Santa_Ana">Magdalena-Santa Ana</option>
                      <option value="Tunia">Cauca-Tunia</option>
                      <option value="Villa_Rica">Cauca-Villa Rica</option>
                      <option value="Cencar">Valle Del Cauca-Cencar</option>
                      <option value="Cerritos">Valle Del Cauca-Cerritos</option>
                      <option value="Ciat">Valle Del Cauca-Ciat</option>
                      <option value="Estambul">Valle Del Cauca-Estambul</option>
                      <option value="Media_Canoa">Valle Del Cauca-Media Canoa</option>
                      <option value="Paso_De_La_Torre">Valle Del Cauca-Paso De La Torre</option>
                      <option value="Rozo">Valle Del Cauca-Rozo</option>
                      <option value="Gamarra">Cesar-Gamarra</option>
                      <option value="Morrison">Cesar-Morrison</option>
                      <option value="Pailitas">Cesar-Pailitas</option>
                      <option value="Platanal">Cesar-Platanal</option>
                      <option value="Aguas_Negras">Santander-Aguas Negras</option>
                      <option value="La_Gomez">Santander-La Gomez</option>
                      <option value="Zambito">Santander-Zambito</option>
                      <option value="Casablanca">Cundinamarca-Casablanca</option>
                      <option value="Saboya">Boyaca-Saboya</option>
                      <option value="Oiba">Santander-Oiba</option>
                      <option value="Curm">Santander-Curm</option>
                      <option value="Los_Curos">Santander-Los Curos</option>
                      {% elif 'estadistica/departamental' in request.path %}
                      <option value="Cesar">Cesar</option>
                      <option value="Guajira">Guajira</option>
                      <option value="Valle_Del_Cauca">Valle Del Cauca</option>
                      <option value="Antioquia">Antioquia</option>
                      <option value="Magdalena">Magdalena</option>
                      <option value="Cauca">Cauca</option>
                      <option value="Santander">Santander</option>
                      <option value="Cundinamarca">Cundinamarca</option>
                      <option value="Boyaca">Boyaca</option>
                      {% elif 'estadistica/general' in request.path %}
                      <option value="General">Funcionalidad desabilitada en Estadistica General de Peajes</option>
                      
                      {% endif %}
                    </select>
                    
                </form>
                
                {% if user.is_authenticated %}
                  <ul class="navbar-nav border-left flex-row ">
                    <li class="nav-item border-right dropdown notifications">
                      <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="nav-link-icon__wrapper">
                          <i class="material-icons">&#xE7F4;</i>
                          <span class="badge badge-pill badge-danger">2</span>
                        </div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">
                          <div class="notification__icon-wrapper">
                            <div class="notification__icon">
                              <i class="material-icons">&#xE6E1;</i>
                            </div>
                          </div>
                          <div class="notification__content">
                            <span class="notification__category">Analytics</span>
                            <p>Your website’s active users count increased by
                              <span class="text-success text-semibold">28%</span> in the last week. Great job!</p>
                          </div>
                        </a>
                        <a class="dropdown-item" href="#">
                          <div class="notification__icon-wrapper">
                            <div class="notification__icon">
                              <i class="material-icons">&#xE8D1;</i>
                            </div>
                          </div>
                          <div class="notification__content">
                            <span class="notification__category">Sales</span>
                            <p>Last week your store’s sales count decreased by
                              <span class="text-danger text-semibold">5.52%</span>. It could have been worse!</p>
                          </div>
                        </a>
                        <a class="dropdown-item notification__all text-center" href="#"> View all Notifications </a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle mr-2" src="/static/assets/img/avatars/0.jpg" alt="User Avatar">
                        <span class="d-none d-md-inline-block">
                          {{ request.user.username }}
                        </span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-small">
                        <a class="dropdown-item" href="/user-profile.html">
                          <i class="material-icons">&#xE7FD;</i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href={% url 'logout' %} >
                          <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                      </div>
                    </li>
                  </ul>
                {% endif %}

                <nav class="nav">
                  <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                    <i class="material-icons">&#xE5D2;</i>
                  </a>
                </nav>
              </nav>
          </div>
