
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
            <div class="main-navbar">
              <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                <a class="navbar-brand w-100 mr-0" 
                   target="_blank"
                   href="https://appseed.us/admin-dashboards/django-dashboard-shards" style="line-height: 25px;">
                  <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="/static/assets/img/invias.png" alt="Shards Dashboard">
                    <span class="d-none d-md-inline ml-1">Peaje San Juan del Cesar</span>
                  </div>
                </a>
                <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                  <i class="material-icons">&#xE5C4;</i>
                </a>
              </nav>
            </div>
            

            {% if user.is_authenticated %}
              <div class="nav-wrapper">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="/">
                      <i class="material-icons">edit</i>
                      <span>Estadística Actual</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == '/tablas.html' %} active {% endif %}" href="/tablas.html">
                      <i class="material-icons">note_add</i>
                      <span>Tablas</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == '/analisis.html' %} active {% endif %}" href="/analisis.html">
                      <i class="material-icons">view_module</i>
                      <span>Análisis</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == '/reporte.html' %} active {% endif %}" href="/reporte.html">
                      <i class="material-icons">table_chart</i>
                      <span>Reporte</span>
                    </a>
                  </li>
                </ul>
              </div>
            {% endif %}

        </aside>
  