.back_image_login { 
    /* The image used */
    background-image: url("https://www.elheraldo.co/sites/default/files/articulo/2019/08/06/img-20190806-wa0002.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.select2-container .select2-selection--single{
  height: 60px;
}
.select2-container--default .select2-selection--single{
  border: 0px; 
}
.select2-selection__rendered{
  padding-top: 15px;
  
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top:15px;
}