{% extends "layouts/base.html" %} {% block title %} UI Components {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <h3 class="page-title" id="page-title" style="white-space: nowrap;">
        {% if 'peaje' in request.path %}Análisis{% elif 'departamental' in request.path %}Análisis Departamento{% elif 'ruta' in request.path %}Análisis Ruta
        {% else %}Análisis General{% endif %}
      </h3>
      <span class="text-uppercase page-subtitle" id="peaje-name"></span>
    </div>
    <div class="col-12 col-sm-3 ml-auto" >
      <img  style="object-fit: contain;width: 300px;" src="/static/assets/img/logos_join.png" alt="Invias">
    </div>
  </div>

  <div class="card card-small mb-4">
    <!-- Hidden Div just for PDF with z-index=-1; and opacity=0;-->
    <div class="card-body">
      <form action=" " method="POST" id="post-form">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-4 mb-3">
            <label for="startdate">Fecha Inicial</label>
            <input type="text" class="form-control calendar" id="startdate" placeholder="mm/dd/yyyy" required>
          </div>
          <div class="col-4 mb-3">
            <label for="enddate">Fecha Final</label>
            <input type="text" class="form-control calendar" id="enddate" placeholder="mm/dd/yyyy" required>
          </div>
          <div class="col-4 mb-3" id="select-div" {% if 'general' in request.path %} style="display: none;" {% endif %}>
            <label>{% if 'peaje' in request.path %} Peaje {% elif 'departamental' in request.path %}
              Departamento{% elif 'ruta' in request.path %}Ruta {% else %}General {% endif %}</label>
            <select class="w-100 js-example-basic-single" id="option-selected">
              {% if 'departamental' in request.path %}
              <option value="Cesar">Cesar</option>
              <option value="Cauca">Cauca</option>
              <option value="Antioquia">Antioquia</option>
              <option value="Valle del Cauca">Valle Del Cauca</option>
              <option value="Cundinamarca">Cundinamarca</option>
              <option value="Cordoba">Cordoba</option>
              <option value="Boyaca">Boyaca</option>
              <option value="Nariño">Nariño</option>
              <option value="Risaralda">Risaralda</option>
              <option value="Santander">Santander</option>
              <option value="Caldas">Caldas</option>
              {% elif 'ruta' in request.path %}
              <option value="23">Ruta 23</option>
              <option value="25">Ruta 25</option>
              <option value="40">Ruta 40</option>
              <option value="45">Ruta 45</option>
              <option value="49">Ruta 49</option>
              <option value="50">Ruta 50</option>
              <option value="60">Ruta 60</option>
              <option value="62">Ruta 62</option>
              <option value="66">Ruta 66</option>
              <option value="70">Ruta 70</option>

              {% endif %}
            </select>
          </div>
        </div>
        <div class="form-row">
          <button type="submit" id="analisis_button" class="btn btn-primary">Resultado</button>
          <button type="button" id="PDF_button" class="btn btn-danger" style="display: none;margin-left: 20px;">Ver PDF</button>
        </div>
        
      </form>
    </div>
  </div>
  <div class="main-display" id="card-main-2" style="display: none" >
    <div class="row">

      <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
        <div class="card card-small">
          <div class="card-header border-bottom">
            <h6 class="m-0">Recaudo ($)</h6>
          </div>
          <div class="card-body pt-0" id="rec-container" >
            <canvas id="recLivComCanvas" style="max-width: 100% !important" class="blog-overview-users"></canvas>
          </div>
          <!-- Basic dropdown -->
          <button type="button" class="btn btn-primary" 
          data-toggle="collapse" data-target="#collapseContent-1"
          aria-expanded="false" aria-controls="collapseContent-1"onclick="togglebutton(this)">Ver mas</button>

          <div class="collapse" id="collapseContent-1">
            <div class="card card-body">
              <div class="table-responsive" id="rec-table-container">
                <table id="recLivComTable" class="table table-striped" style="width: 100%;white-space:nowrap;"></table>
              </div>
            </div>
          </div>
          <!-- Basic dropdown -->
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
        <div class="card card-small">
          <div class="card-header border-bottom">
            <h6 class="m-0">Vehiculos</h6>
          </div>
          <div class="card-body pt-0" id="veh-container">
            <canvas id="VehiculosCanvas"  style="max-width: 100% !important" class="blog-overview-users"></canvas>
          </div>
          <!-- Basic dropdown -->
          <button type="button" class="btn btn-primary" 
          data-toggle="collapse" data-target="#collapseContent-2"
          aria-expanded="false" aria-controls="collapseContent-2" onclick="togglebutton(this)">Ver mas</button>

          <div class="collapse" id="collapseContent-2">
            <div class="card card-body">
              <div class="table-responsive" id="veh-table-container">
                <table id="VehiculosTable" class="table table-striped" style="width: 100%;white-space:nowrap;"></table>
              </div>
            </div>
          </div>
          <!-- Basic dropdown -->
        </div>
      </div>      

    </div>

  </div>
  
  
  <!-- Div for PDF Display-->
  <div style="display: none" id="pdfcanvasdiv">
    <img id='invias-pdf' src='/static/assets/img/Invias.png' style="opacity:0;">
    <canvas id="recLivComCanvasPDF" width="800px" style="max-width: 100% !important"></canvas>
    <canvas id="VehiculosCanvasPDF" width="800px" style="max-width: 100% !important"></canvas>
  </div>
  <style>
    table tbody tr td {
      width: fit-content;
      font-size: 13px;
    }
  </style>
</div>
  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script src="/static/assets/js/app/app-analisis-GeneralYDepartamental.js"></script>
  <script>
    function togglebutton(element) {
        var para = document.getElementById("p");
    
        if(element.classList.contains("btn-primary")) {
            element.classList.remove("btn-primary");
            element.classList.add("btn-danger");;
            element.textContent = 'Ver menos';
        }
        else {
            element.classList.add("btn-primary");
            element.classList.remove("btn-danger");
            element.textContent = 'Ver mas';
        }
    }
    </script>

  {% endblock javascripts %}
