{% extends "layouts/base.html" %} {% block title %} UI Components {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <h3 class="page-title" id="page-title" style="white-space: nowrap;">
        {% if 'peaje' in request.path %}Análisis{% elif 'departamental' in request.path %}Análisis Departamento{% elif 'ruta' in request.path %}Análisis Ruta
        {% else %}Análisis General{% endif %}
      </h3>
      <span class="text-uppercase page-subtitle" id="peaje-name"></span>
    </div>
    <div class="col-12 col-sm-3 ml-auto" >
      <img  style="object-fit: contain;width: 300px;" src="/static/assets/img/logos_join.png" alt="Invias">
    </div>
  </div>

  <div class="card card-small mb-4">
    <!-- Hidden Div just for PDF with z-index=-1; and opacity=0;-->
    <div class="card-body">
      <form action=" " method="POST" id="post-form">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-4 mb-3">
            <label for="startdate">Fecha Inicial</label>
            <input type="text" class="form-control calendar" id="startdate" placeholder="mm/dd/yyyy" required>
          </div>
          <div class="col-4 mb-3">
            <label for="enddate">Fecha Final</label>
            <input type="text" class="form-control calendar" id="enddate" placeholder="mm/dd/yyyy" required>
          </div>
          <div class="col-4 mb-3" id="select-div" {% if 'general' in request.path %} style="display: none;" {% endif %}>
            <label>{% if 'peaje' in request.path %} Peaje {% elif 'departamental' in request.path %}
              Departamento{% elif 'ruta' in request.path %}Ruta {% else %}General {% endif %}</label>
            <select class="w-100 js-example-basic-single" id="option-selected">
              {% if 'departamental' in request.path %}
              <option value="CAUCA">Cauca</option>
              <option value="ANTIOQUIA">Antioquia</option>
              <option value="VALLE DEL CAUCA">Valle Del Cauca</option>
              <option value="CUNDINAMARCA">Cundinamarca</option>
              <option value="CORDOBA">Cordoba</option>
              <option value="BOYACA">Boyaca</option>
              <option value="NARIÑO">Nariño</option>
              <option value="CESAR">Cesar</option>
              <option value="RISARALDA">Risaralda</option>
              <option value="SANTANDER">Santander</option>
              <option value="CALDAS">Caldas</option>
              {% elif 'ruta' in request.path %}
              <option value="23">Ruta 23</option>
              <option value="40">Ruta 40</option>
              <option value="45">Ruta 45</option>
              <option value="49">Ruta 49</option>
              <option value="60">Ruta 60</option>
              <option value="66">Ruta 66</option>
              <option value="70">Ruta 70</option>

              {% endif %}
            </select>
          </div>
        </div>
        <div class="form-row">
          <button type="submit" id="analisis_button" class="btn btn-primary">Resultado</button>
          <button type="button" id="PDF_button" class="btn btn-danger" style="display: none;margin-left: 20px;">Ver PDF</button>
        </div>
        
      </form>
    </div>
  </div>

  <div class="card card-small mb-4" id="card-main-2" style="display: none">
    <div class="card-body" id="main-body-2">
      <div>
        <h4>Periodo de Análisis <span id="periodoAnalisis"></span></h4>
      </div>
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-12 col-sm-8">
          <canvas id="recaudoCanvas" height="130" style="max-width: 100% !important"></canvas>
        </div>
        <div class="col-12 col-sm-4" style="margin-top: 25px;">
          <div class="table-responsive">
            <table id="recaudoTable" class="table table-striped" style="width: 100%;white-space:nowrap;">
            </table>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px;">
        <div class="col-12 col-sm-8">
          <canvas id="recLivComCanvas" height="130" style="max-width: 100% !important"></canvas>
        </div>
        <div class="col-12 col-sm-4" style="margin-top: 25px;">
          <div class="table-responsive">
            <table id="recLivComTable" class="table table-striped" >
              <thead>
                <tr>
                  <th scope="col">Recaudo</th>
                  <th scope="col">Livianos</th>
                  <th scope="col">Comerciales</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 30px;">
        <div class="col-12 col-sm-8">
          <canvas id="VehiculosCanvas" height="130" style="max-width: 100% !important"></canvas>
        </div>
        <div class="col-12 col-sm-4" style="margin-top: 25px;">
          <div class="table-responsive">
            <table id="VehiculosTable" class="table table-striped" ></table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Div for PDF Display-->
  <div style="display: none" id="pdfcanvasdiv">
    <img id='invias-pdf' src='/static/assets/img/Invias.png' style="opacity:0;">
    <canvas id="recaudoCanvasPDF" width="800px" style="max-width: 100% !important"></canvas>
    <canvas id="recLivComCanvasPDF" width="800px" style="max-width: 100% !important"></canvas>
    <canvas id="VehiculosCanvasPDF" width="800px" style="max-width: 100% !important"></canvas>
  </div>
  <style>
    table tbody tr td {
      width: fit-content;
      font-size: 13px;
    }
  </style>
</div>
  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script src="/static/assets/js/app/app-analisis-GeneralYDepartamental.js"></script>

  {% endblock javascripts %}
