{% extends "layouts/base.html" %}

{% block title %} UI Components {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}



{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <h3 class="page-title" id="page-title" style="white-space: nowrap;">{% if 'peaje' in request.path %}Análisis Peaje{% elif 'departamental' in request.path %}Análisis Departamento{% elif 'ruta' in request.path %}Análisis Ruta
        {% else %}Análisis General{% endif %}</h3>
      <span class="text-uppercase page-subtitle" id="peaje-name"></span>
      
    </div>
    
  </div>

  <div class="card card-small mb-4" id="first-card">
    <div class="card-body">
      <form  action =" " method="POST" id="post-form" >{% csrf_token %}
        <div class="form-row">
          <div class="col-4">
            <label> Fecha Inicial </label>
              <input type="text" class = "form-control calendar" id="startdate" placeholder="Click para seleccionar fecha">
          </div>
          <div class="col-4">
            <label> Fecha Final </label>
              <input type="text" class = "form-control calendar" id="enddate" placeholder="Click para seleccionar fecha">
          </div>
          <div class="col-4 mb-3" {% if 'general' in request.path %} style="display: none;" {% endif %}>
            <label>{% if 'peaje' in request.path %} Peaje {% elif 'departamental' in request.path %}
              Departamento{% elif 'ruta' in request.path %}Ruta {% else %}General {% endif %}</label>
            <select class="w-100 js-example-basic-single" id="option-selected" >
              {% if 'departamental' in request.path %}
              <option value="Cesar">Cesar</option>
              <option value="Cauca">Cauca</option>
              <option value="Antioquia">Antioquia</option>
              <option value="Valle del Cauca">Valle Del Cauca</option>
              <option value="Cundinamarca">Cundinamarca</option>
              <option value="Cordoba">Cordoba</option>
              <option value="Boyaca">Boyaca</option>
              <option value="Nariño">Nariño</option>
              <option value="Risaralda">Risaralda</option>
              <option value="Santander">Santander</option>
              <option value="Caldas">Caldas</option>
              {% elif 'ruta' in request.path %}
              <option value="23">Ruta 23</option>
              <option value="25">Ruta 25</option>
              <option value="40">Ruta 40</option>
              <option value="45">Ruta 45</option>
              <option value="49">Ruta 49</option>
              <option value="50">Ruta 50</option>
              <option value="60">Ruta 60</option>
              <option value="62">Ruta 62</option>
              <option value="66">Ruta 66</option>
              <option value="70">Ruta 70</option>
              {% elif 'peaje' in request.path %}
              <option value="El Bordo">Cauca-El Bordo</option>
              <option value="Los Llanos">Antioquia-Los Llanos</option>
              <option value="Taraza">Antioquia-Taraza</option>
              <option value="Cocorna">Antioquia-Cocorna</option>
              <option value="Puerto Triunfo">Antioquia-Puerto Triunfo</option>
              <option value="Rio Frio">Valle Del Cauca-Rio Frio</option>
              <option value="Toro">Valle Del Cauca-Toro</option>
              <option value="Cencar">Valle Del Cauca-Cencar</option>
              <option value="Cerrito">Valle Del Cauca-Cerrito</option>
              <option value="Ciat">Valle Del Cauca-Ciat</option>
              <option value="Estambul">Valle Del Cauca-Estambul</option>
              <option value="Mediacanoa">Valle Del Cauca-Mediacanoa</option>
              <option value="Paso de la Torre">Valle Del Cauca-Paso De La Torre</option>
              <option value="Rozo">Valle Del Cauca-Rozo</option>
              <option value="Villarica">Valle Del Cauca-Villarica</option>
              <option value="Tunia">Valle Del Cauca-Tunia</option>
              <option value="Loboguerrero">Valle Del Cauca-Loboguerrero</option>
              <option value="Bicentenario">Cundinamarca-Bicentenario</option>
              <option value="Casablanca">Cundinamarca-Casablanca</option>
              <option value="Carimagua">Cordoba-Carimagua</option>
              <option value="Arcabuco">Boyaca-Arcabuco</option>
              <option value="El Crucero">Boyaca-El Crucero</option>
              <option value="Sachica">Boyaca-Sachica</option>
              <option value="Saboya">Boyaca-Saboya</option>
              <option value="Cano">Nariño-Cano</option>
              <option value="Daza">Nariño-Daza</option>
              <option value="Platanal">Cesar-Platanal</option>
              <option value="San Diego">Cesar-San Diego</option>
              <option value="San Juan">Cesar-San Juan</option>
              <option value="Morrison">Cesar-Morrison</option>
              <option value="Pailitas">Cesar-Pailitas</option>
              <option value="Rincon Hondo">Cesar-Rincon Hondo</option>
              <option value="Zambito">Cesar-Zambito</option>
              <option value="Cerritos II">Risaralda-Cerritos Ii</option>
              <option value="Rio Blanco">Santander-Rio Blanco</option>
              <option value="Oiba">Santander-Oiba</option>
              <option value="Los Curos">Santander-Los Curos</option>
              <option value="Gamarra">Santander-Gamarra</option>
              <option value="La Gomez">Santander-La Gomez</option>
              <option value="Aguas Negras">Santander-Aguas Negras</option>
              <option value="San Clemente">Caldas-San Clemente</option>
              {% endif %}
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col-2">
            <div class="form-check">
              <input type="radio" name="TipoCategoria" id="rec_type" value="rec_" class="form-check-input">
              <label class="form-check-label"  for="rec_type">Recaudo</label>
            </div>
            
          </div>
          <div class="col-2">
            <div class="form-check">
              <input type="radio" name="TipoCategoria" id="veh_type" value="veh_" class="form-check-input">
              <label class="form-check-label"  for="veh_type">Vehiculos</label>
            </div>
            
          </div>

        </div>
        <div class="row mt-3">
          <div class="col-3">
            <select class="js-example-basic-multiple-limit" id="categorias">
              <option value="i">I</option>
              <option value="ie">IE</option>
              <option value="ii">II</option>
              <option value="iii">III</option>
              <option value="iv">IV</option>
              <option value="v">V</option>
              <option value="vi">VI</option>
              <option value="vii">VII</option>
            </select>
          </div>
          <div class="col-auto">
            <button type="button" id="add_choice" class="btn btn-success">Añadir</button>
          </div>
          <div class="col-auto">
            <span id="selected-box-store">
              <ul id="selecciones_analisis"></ul>
            </span>
            
          </div>
        </div>
        
        
        <div class="form-row mt-3">
          <button type="submit" id="analisis_button" class="btn btn-primary">Resultado</button>
          <button type="button" id="PDF-Button" class="btn btn-danger" style="display: none;">Ver PDF</button>
        </div>
        
      </form>
    </div>
  </div>

  <div class="" id="main-body" >
    
  </div>
  <div style="position: absolute;left:-9999px;top:-9999px" id="pdf-body"></div>
</div>

 
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="/static/assets/js/app/app-analisis.js"></script>
<script>
  function togglebutton(element) {
      var para = document.getElementById("p");
  
      if(element.classList.contains("btn-primary")) {
          element.classList.remove("btn-primary");
          element.classList.add("btn-danger");;
          element.textContent = 'Ver menos';
      }
      else {
          element.classList.add("btn-primary");
          element.classList.remove("btn-danger");
          element.textContent = 'Ver mas';
      }
  }
  </script>


{% endblock javascripts %}
