{% extends "layouts/base.html" %}

{% block title %} UI Components {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}



{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <h3 class="page-title" id="page-title" style="white-space: nowrap;">Análisis</h3>
      <span class="text-uppercase page-subtitle" id="peaje-name"></span>
      
    </div>
    <div class="col-12 col-sm-3 ml-auto" >
      <img  style="object-fit: contain;width: 300px;" src="/static/assets/img/logos_join.png" alt="Invias">
    </div>
  </div>

  <div class="card card-small mb-4" id="first-card">
    <div class="card-body">
      <form  action =" " method="POST" id="post-form" >{% csrf_token %}
        <div class="form-row">
          <div class="col-4">
            <label> Fecha Inicial </label>
              <input type="text" class = "form-control calendar" id="startdate" placeholder="Click para seleccionar fecha">
          </div>
          <div class="col-4">
            <label> Fecha Final </label>
              <input type="text" class = "form-control calendar" id="enddate" placeholder="Click para seleccionar fecha">
          </div>
          <div class="col-4 mb-3">
            <label> Peaje </label>
            <select class="w-100 js-example-basic-single" id="option-selected" >
              <option value="El Bordo">Cauca-El Bordo</option>
              <option value="Los Llanos">Antioquia-Los Llanos</option>
              <option value="Taraza">Antioquia-Taraza</option>
              <option value="Cocorna">Antioquia-Cocorna</option>
              <option value="Puerto Triunfo">Antioquia-Puerto Triunfo</option>
              <option value="Rio Frio">Valle Del Cauca-Rio Frio</option>
              <option value="Toro">Valle Del Cauca-Toro</option>
              <option value="Cencar">Valle Del Cauca-Cencar</option>
              <option value="Cerrito">Valle Del Cauca-Cerrito</option>
              <option value="Ciat">Valle Del Cauca-Ciat</option>
              <option value="Estambul">Valle Del Cauca-Estambul</option>
              <option value="Mediacanoa">Valle Del Cauca-Mediacanoa</option>
              <option value="Paso de la Torre">Valle Del Cauca-Paso De La Torre</option>
              <option value="Rozo">Valle Del Cauca-Rozo</option>
              <option value="Villarica">Valle Del Cauca-Villarica</option>
              <option value="Tunia">Valle Del Cauca-Tunia</option>
              <option value="Loboguerrero">Valle Del Cauca-Loboguerrero</option>
              <option value="Bicentenario">Cundinamarca-Bicentenario</option>
              <option value="Casablanca">Cundinamarca-Casablanca</option>
              <option value="Carimagua">Cordoba-Carimagua</option>
              <option value="Arcabuco">Boyaca-Arcabuco</option>
              <option value="El Crucero">Boyaca-El Crucero</option>
              <option value="Sachica">Boyaca-Sachica</option>
              <option value="Saboya">Boyaca-Saboya</option>
              <option value="Cano">Nariño-Cano</option>
              <option value="Daza">Nariño-Daza</option>
              <option value="Platanal">Cesar-Platanal</option>
              <option value="San Diego">Cesar-San Diego</option>
              <option value="San Juan">Cesar-San Juan</option>
              <option value="Morrison">Cesar-Morrison</option>
              <option value="Pailitas">Cesar-Pailitas</option>
              <option value="Rincon Hondo">Cesar-Rincon Hondo</option>
              <option value="Zambito">Cesar-Zambito</option>
              <option value="Cerritos II">Risaralda-Cerritos Ii</option>
              <option value="Rio Blanco">Santander-Rio Blanco</option>
              <option value="Oiba">Santander-Oiba</option>
              <option value="Los Curos">Santander-Los Curos</option>
              <option value="Gamarra">Santander-Gamarra</option>
              <option value="La Gomez">Santander-La Gomez</option>
              <option value="Aguas Negras">Santander-Aguas Negras</option>
              <option value="San Clemente">Caldas-San Clemente</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="col-2">
            <div class="custom-control custom-toggle custom-toggle-sm mb-1">
              <input type="checkbox" id="check_I" name="checkboxes" value="i" class="custom-control-input">
              <label class="custom-control-label" for="check_I">I</label>
            </div>
          </div>
          <div class="col-2">
            <div class="custom-control custom-toggle custom-toggle-sm mb-1">
              <input type="checkbox" id="check_IEB" name="checkboxes" value="ieb" class="custom-control-input">
              <label class="custom-control-label" for="check_IEB">IEB</label>
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="col-2">
            <div class="custom-control custom-toggle custom-toggle-sm mb-1">
              <input type="checkbox" id="check_II" name="checkboxes" value="ii" class="custom-control-input">
              <label class="custom-control-label" for="check_II">II</label>
            </div>
          </div>
          <div class="col-2">
            <div class="custom-control custom-toggle custom-toggle-sm mb-1">
              <input type="checkbox" id="check_III" name="checkboxes" value="iii" class="custom-control-input">
              <label class="custom-control-label" for="check_III">III</label>
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="col-2">
            <div class="custom-control custom-toggle custom-toggle-sm mb-1">
              <input type="checkbox" id="check_IV" name="checkboxes" value="iv" class="custom-control-input">
              <label class="custom-control-label" for="check_IV">IV</label>
            </div>
          </div>
          <div class="col-2">
            <div class="custom-control custom-toggle custom-toggle-sm mb-1">
              <input type="checkbox" id="check_V" name="checkboxes" value="v" class="custom-control-input">
              <label class="custom-control-label" for="check_V">V</label>
            </div>
          </div>
        </div>
        <div class="form-row">
            <button type="submit" id="analisis_button" class="btn btn-primary">Resultado</button>
            <button type="button" class="btn btn-danger" style="display: none; margin-left: 20px;" id="PDF_Button">Ver PDF</button>
        </div>
        
      </form>
    </div>
  </div>

  <div class="" id="main-body" ></div>
</div>

 
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="/static/assets/js/app/app-analisis.js"></script>


{% endblock javascripts %}
