{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">{% csrf_token %}
        <h3 class="page-title" style="white-space: nowrap;" id="page-title">{% if 'peaje' in request.path %}Estadística{% elif 'departamental' in request.path %}Estadística Departamento{% else %}Estadística General{% endif %}</h3>
        <span class=" page-subtitle" id="peaje-name"></span>
      </div>
      <div class="col-12 col-sm-3 ml-auto" >
        <img  style="object-fit: contain;width: 300px;" src="/static/assets/img/logos_join.png" alt="Invias">
      </div>
    </div>
    <!-- End Page Header -->
    <!-- Small Stats Blocks -->
    <div class="row">
      <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex chart-1" data-toggle="tooltip" data-placement="left" title="Comportamiento Ultimos 7 dias">
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center" >
                <span class="stats-small__label ">RECAUDO (millones)</span>
                <h6 class="stats-small__value count my-3" id = "rec-total" data-toggle="tooltip" data-placement="top" title="Recaudado Ultimo dia"></h6>
              </div>
              <div class="stats-small__data" >
                <span class="stats-small__percentage stats-small__percentage--increase" id ="rec-total-%" data-toggle="tooltip" data-placement="right" title="Variacion entre los dos ultimos dias"></span>
              </div>
            </div>
            <canvas height="120" class="blog-overview-stats-small-1"  ></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex chart-2" >
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Vehiculos</span>
                <h6 class="stats-small__value count my-3" id = "veh-total"></h6>
              </div>
              <div class="stats-small__data">
                <span class="stats-small__percentage stats-small__percentage--increase" id ="veh-total-%"></span>
              </div>
            </div>
            <canvas height="120" class="blog-overview-stats-small-2" ></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex chart-3" >
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Vehiculos Livianos</span>
                <h6 class="stats-small__value count my-3" id = "veh-liv"></h6>
              </div>
              <div class="stats-small__data">
                <span class="stats-small__percentage stats-small__percentage--decrease" id = "veh-liv-%"></span>
              </div>
            </div>
            <canvas height="120" class="blog-overview-stats-small-3"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex chart-4" >
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Recaudo Veh.Livianos</span>
                <h6 class="stats-small__value count my-3" id = "rec-liv"></h6>
              </div>
              <div class="stats-small__data">
                <span class="stats-small__percentage stats-small__percentage--increase" id = "rec-liv-%"></span>
              </div>
            </div>
            <canvas height="120" class="blog-overview-stats-small-4"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-12 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex chart-5" >
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Vehiculos Comerciales</span>
                <h6 class="stats-small__value count my-3" id = "veh-com"></h6>
              </div>
              <div class="stats-small__data">
                <span class="stats-small__percentage stats-small__percentage--decrease" id = "veh-com-%"></span>
              </div>
            </div>
            <canvas height="120" class="blog-overview-stats-small-5"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- End Small Stats Blocks -->
    <div class="row">
      <!-- Users Stats -->
      <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
        <div class="card card-small">
          <div class="card-header border-bottom">
            <h6 class="m-0">Recaudo ($)</h6>
          </div>
          <div class="card-body pt-0" id="RecaudoSemVigSemPrev">
            <canvas height="130" style="max-width: 100% !important;" class="blog-overview-users"></canvas>
          </div>
        </div>
      </div>
      <!-- End Users Stats -->
      <!-- Users By Device Stats -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card card-small h-100">
          <div class="card-header border-bottom">
            <h6 class="m-0">Vehículos por Categoría Ultima Semana</h6>
          </div>
          <div class="card-body d-flex py-0" id="vehPorCategoria">
            <canvas height="220" class="blog-users-by-device m-auto"></canvas>
          </div>
          <div class="card-footer border-top">
            <div class="row">
              <div class="col text-right view-report">
                <a href="reporte.html">Reporte Completo &rarr;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Users By Device Stats -->
    </div>
 </div>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src='/static/assets/js/app/estadistica_peaje.js'></script>

{% endblock javascripts %}

