{% extends "layouts/base.html" %}

{% block title %} Blog Posts {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}



{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Blog Posts</span>
      <h3 class="page-title">Introducir Datos</h3>
    </div>
  </div>
  <div class="card card-big mb-3">
    <div class="card-body">
      <form method="POST" id="post-form">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Fecha</span>
              </div>
              <input type="date" class="form-control" id="fecha">
            </div>
          </div>
        </div>


        <div class="form-row">

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">I</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehiculos" id="I">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_I" name="exentos" class="custom-control-input">
                    <label class="custom-control-label" for="exento_I">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">IEB</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehiculos" id="IEB">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_IEB" name="exentos" class="custom-control-input">
                    <label class="custom-control-label" for="exento_IEB">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">II</span>
              </div>
              <input type="number" class="form-control"  placeholder="No. Vehiculos" id="II">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_II" name="exentos" class="custom-control-input">
                    <label class="custom-control-label" for="exento_II">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>


        <div class="form-row">

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">III</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehiculos" id="III">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_III" name="exentos" class="custom-control-input">
                    <label class="custom-control-label" for="exento_III">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">IV</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehiculos" id="IV">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_IV" name="exentos" class="custom-control-input">
                    <label class="custom-control-label" for="exento_IV">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">V</span>
              </div>
              <input type="number" class="form-control"  placeholder="No. Vehiculos" id="V">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_V" name="exentos" class="custom-control-input">
                    <label class="custom-control-label" for="exento_V">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>


        <div class="form-row">

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">EG</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehiculos" id="eg">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_EG" name="exentos" class="custom-control-input">
                    <label class="custom-control-label" for="exento_EG">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">ER</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehiculos" id="er">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_ER" name="exentos" class="custom-control-input">
                    <label class="custom-control-label" for="exento_ER">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">EA</span>
              </div>
              <input type="number" class="form-control"  placeholder="No. Vehiculos" id="EA">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_EA" name="exentos" class="custom-control-input">
                    <label class="custom-control-label" for="exento_EA">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
