{% extends "layouts/base.html" %}

{% block title %} Blog Posts {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}



{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Peaje San Juan del Cesar</span>
      <h3 class="page-title">Introducir Datos</h3>
    </div>
    <div class="col-12 col-sm-4 ml-auto" >
      <img  style="max-height: 50px;" src="/static/assets/img/logos_join.png" alt="Invias">
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="Modal_1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Recuerda que debes presionar el boton de agregar datos para añadir una fila.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="Modal_confirm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Por favor confirme que los datos suministrados se encuentren correctos antes de enviarlos. 
            Si estan correctos presione el boton de guardar cambios, de lo contrario presione el boton de cerrar.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="send_database_button">Guardar Cambios</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-big mb-3">
    <div class="card-body">
      <form method="POST" id="post-form">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Fecha</span>
              </div>
              <input type="date" class = "form-control" id="fecha" data-date-format='yyyy-mm-dd'>
            </div>
          </div>
        </div>


        <div class="form-row">

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">I</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehículos" id="I">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_I" name="exentos" value="I" class="custom-control-input">
                    <label class="custom-control-label" for="exento_I">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">IEB</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehículos" id="IEB">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_IEB" name="exentos" value="IEB" class="custom-control-input">
                    <label class="custom-control-label" for="exento_IEB">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">II</span>
              </div>
              <input type="number" class="form-control"  placeholder="No. Vehículos" id="II">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_II" name="exentos" value="II" class="custom-control-input">
                    <label class="custom-control-label" for="exento_II">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>


        <div class="form-row">

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">III</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehículos" id="III">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_III" name="exentos" value="III" class="custom-control-input">
                    <label class="custom-control-label" for="exento_III">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">IV</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehículos" id="IV">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_IV" name="exentos" value="IV" class="custom-control-input">
                    <label class="custom-control-label" for="exento_IV">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">V</span>
              </div>
              <input type="number" class="form-control"  placeholder="No. Vehículos" id="V">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_V" name="exentos" value="V" class="custom-control-input">
                    <label class="custom-control-label" for="exento_V">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>


        <div class="form-row">

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">EG</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehículos" id="EG">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_EG" name="exentos" value="EG" class="custom-control-input">
                    <label class="custom-control-label" for="exento_EG">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">ER</span>
              </div>
              <input type="number" class="form-control" placeholder="No. Vehículos" id="ER">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_ER" name="exentos" value="ER" class="custom-control-input">
                    <label class="custom-control-label" for="exento_ER">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">EA</span>
              </div>
              <input type="number" class="form-control"  placeholder="No. Vehículos" id="EA">
              <div class="input-group-append">
                <span class="input-group-text">
                  <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                    <input type="checkbox" id="exento_EA" name="exentos" value="EA" class="custom-control-input">
                    <label class="custom-control-label" for="exento_EA">Exento</label>
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-2"><button type="Submit" class="btn btn-success">Agregar datos</button></div>
          <div class="col-2"><button type="button" class="btn btn-primary" onclick="enviar_datos()">Enviar</button></div>
        </div>
      </form>
      
    </div>
  </div>

  <div class="card card-small mb-4"  style="display: none;">
    <div class="card-header border-bottom">
      <h6 class="m-0">Vehículos</h6>
    </div>
    <div class="card-body p-0 pb-3 text-center">
      <table class="table mb-0 table-hover" id="veh_table">
        <thead class="bg-light">
          <tr>
            <th scope="col" class="border-0" >Fecha</th>
            <th scope="col" class="border-0">I</th>
            <th scope="col" class="border-0">IEB</th>
            <th scope="col" class="border-0">II</th>
            <th scope="col" class="border-0">III</th>
            <th scope="col" class="border-0">IV</th>
            <th scope="col" class="border-0">V</th>
            <th scope="col" class="border-0">EG</th>
            <th scope="col" class="border-0">ER</th>
            <th scope="col" class="border-0">EA</th>
            <th scope="col" class="border-0">Total</th>
            <th scope="col" class="border-0">Opciones</th>
          </tr>
        </thead>
        <tbody id="table_body1"> 
        </tbody>
      </table>
    </div>
  </div>

  <div class="card card-small mb-4"  style="display: none;">
    <div class="card-header border-bottom">
      <h6 class="m-0">Recaudo</h6>
    </div>
    <div class="card-body p-0 pb-3 text-center">
      <table class="table mb-0 table-hover" id="rec_table">
        <thead class="bg-light">
          <tr>
            <th scope="col" class="border-0">Fecha</th>
            <th scope="col" class="border-0">I</th>
            <th scope="col" class="border-0">IEB</th>
            <th scope="col" class="border-0">II</th>
            <th scope="col" class="border-0">III</th>
            <th scope="col" class="border-0">IV</th>
            <th scope="col" class="border-0">V</th>
            <th scope="col" class="border-0">EG</th>
            <th scope="col" class="border-0">ER</th>
            <th scope="col" class="border-0">EA</th>
            <th scope="col" class="border-0">Total</th>
          </tr>
        </thead>
        <tbody id="table_body2"> 
        </tbody>
      </table>
    </div>
  </div>

  <div class="card card-small mb-4"  style="display: none;">
    <div class="card-header border-bottom">
      <h6 class="m-0">Exentos</h6>
    </div>
    <div class="card-body p-0 pb-3 text-center">
      <table class="table mb-0 table-hover" id="exen_table">
        <thead class="bg-light">
          <tr>
            <th scope="col" class="border-0">Fecha</th>
            <th scope="col" class="border-0">I</th>
            <th scope="col" class="border-0">IEB</th>
            <th scope="col" class="border-0">II</th>
            <th scope="col" class="border-0">III</th>
            <th scope="col" class="border-0">IV</th>
            <th scope="col" class="border-0">V</th>
            <th scope="col" class="border-0">EG</th>
            <th scope="col" class="border-0">ER</th>
            <th scope="col" class="border-0">EA</th>
          </tr>
        </thead>
        <tbody id="table_body3"> 
        </tbody>
      </table>
    </div>
  </div>
</div>  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="/static/assets/js/app/app-ingresar-datos.js"></script>

{% endblock javascripts %}
