{% extends "layouts/base.html" %}

{% block title %} New post {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/mapa.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/MarkerCluster.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/MarkerCluster.Default.css">
<link rel="stylesheet" type="text/css" href="/static/assets/css/custom.css">


    

{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row  py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <h3 class="page-title" id="page-title" style="white-space: nowrap;">Localización de Peajes</h3>
      <span class="text-uppercase page-subtitle" id="peaje-name"></span>
        
    </div>
    
      
  </div>
  <!-- End Page Header -->
  <div class="row">
    <div class="col-9">
      <div class="card small mb-3">
        <div id="map" style="margin-top: 0px;"></div>
      </div>
    </div>
    <div class="col-3">
      <div class="card small mb-3">
        <div class="card-body">{% csrf_token %}
          <select id="deps" class="js-example-basic-single">
            <option >------------</option>
            <option value="General">COLOMBIA</option>
            <option value="ANTIOQUIA">Antioquia</option>
            <option value="CESAR">Cesar</option>
            <option value="CUNDINAMARCA">Cundinamarca</option>
            <option value="CAUCA">Cauca</option>
            <option value="VALLE DEL CAUCA">Valle del Cauca</option>
            <option value="CORDOBA">Cordoba</option>
            <option value="BOYACA">Boyaca</option>
            <option value="NARIÑO">Nariño</option>
            <option value="RISARALDA">Risaralda</option>
            <option value="SANTANDER">Santander</option>
            <option value="CALDAS">Caldas</option>
          </select>
        </div> 
      </div>
    </div>
  </div>
  
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script src="/static/assets/js/leaflet.markercluster.js"></script>
<script src="/static/assets/js/app/app-mapa.js"></script>




{% endblock javascripts %}
