{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/datatables.min.css"/>

{% block content %}

    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
          <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle"id="peaje-name">Peaje San Juan del Cesar</span>
            <h3 class="page-title">Reporte</h3>
          </div>
          <div class="col-12 col-sm-4 ml-auto" >
            <img id="logos_join" style="max-height: 50px;" src="/static/assets/img/logos_join.png" alt="Invias">
          </div>
        </div>
        <!-- End Page Header -->
        <div class="card card-big mb-3">
          <div class="card-body">
            <form method="POST" id="post-form">
              {% csrf_token %}
              <div class="row">
                <div class="col">
                  <label>Estación de Peaje</label>
                  <input type="text" class="form-control" id="e-peaje" placeholder="Ej: San Juan del Cesar">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label>Ruta</label>
                  <input type="text" class="form-control" id="ruta" placeholder="Ej: 4901 La Paz-Buenavista">
                </div>
                <div class="col">
                  <label>Sector</label>
                  <input type="text" class="form-control" id="sector" placeholder="Ej: San Juan del Cesar-Distraccion">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label>Localización</label>
                  <input type="text" class="form-control" id="localizacion" placeholder="Ej: PR64 +100">
                </div>
                <div class="col">
                  <label>Departamento</label>
                  <input type="text" class="form-control" id="departamento" placeholder="Ej: La Guajira">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label>Contratista</label>
                  <input type="text" class="form-control" id="contratista" placeholder="Ej: Consorcio Peaje">
                </div>
                <div class="col">
                  <label>Contrato de Operación</label>
                  <input type="text" class="form-control" id="num-contrato" placeholder="Ej: 1025 de 2019">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label>Fecha Inicial</label>
                  <input type="text" class="form-control" data-date-format='yyyy-mm-dd' id="startdate" placeholder="yyyy-mm-dd">
                </div>
                <div class="col">
                  <label>Fecha Final</label>
                  <input type="text" class="form-control" data-date-format='yyyy-mm-dd' id="enddate" placeholder="yyyy-mm-dd" >
                </div>
              </div>

              <div class="form-group">
                <label>Novedades</label>
                <textarea class="form-control" id="novedades" placeholder="Durante los dias 24 feb y 5 marzo se presento paro de el gremio de transportadores que afecto el transito de vehiculos por el peaje"></textarea>
              </div>
               <button type="Submit" class="btn btn-primary">Submit</button>
            </form>

          </div>
        </div>

        <div class="card card-big mb-3 " style="display: none;" id="big-main-card-2">
          <div class="card-body">
            
            
            
            <div class="row">
              <div class="col-12 col-lg-6">
                <canvas  id="total-veh-barchart"></canvas>
              </div>
              <div class="col-12 col-lg-6">
                <canvas  id="total-rec-barchart"></canvas>
              </div>
            </div>

            

            <br>
            <h5 style="text-align: center;">Comportamiento Vehicular por Categorias</h5>
              
            <div class="row">
              <div class= "col-12 col-lg-6">
                <canvas  id = "linechart-0"></canvas>
              </div>
              <div class="col-12 col-lg-6">
                <canvas  id="linechart-1"></canvas>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-6">
                <canvas  id = "linechart-2"></canvas>
              </div>
              <div class="col-12 col-lg-6">
                <canvas  id = "ejes-0"></canvas>
              </div>
            </div>

            <br>
            <h5 style="text-align: center;">Comportamiento Recaudo por Categorias</h5>
             
            <div class="row">
              <div class= "col-12 col-lg-6">
                <canvas  id = "linechart-3"></canvas>
              </div>
              <div class="col-12 col-lg-6">
                <canvas  id="linechart-4"></canvas>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-6">
                <canvas  id = "linechart-5"></canvas>
              </div>
              <div class="col-12 col-lg-6">
                <canvas  id = "ejes-1"></canvas>
              </div>
            </div>
            <br>
            
            
          </div>
        </div>
    </div>
    <div style="display: none;">
      <img id="invias-logo" src="/static/assets/img/invias.png" style="max-height: 50px;">
      <img id="mint-logo" src="/static/assets/img/Min_transporte_logo.png" style="max-height: 50px;">
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="https://unpkg.com/html2canvas@1.0.0-rc.5/dist/html2canvas.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="/static/assets/js/app/app-reporte.js"></script>
<script src='/static/assets/js/app/reporte/reporte_departamental.js'></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/datatables.min.js"></script>

{% endblock javascripts %}
