{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}

    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
          <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Reporte Peaje</h3>
          </div>
          <div class="col-12 col-sm-3 ml-auto" >
            <img  style="object-fit: contain;width: 300px;" src="/static/assets/img/logos_join.png" alt="Invias">
          </div>
        </div>
        <!-- End Page Header -->
        <div class="card card-big mb-3">
          <div class="card-body">
            <form  action =" " method="POST" id="post-form">{% csrf_token %}
              <div class="form-row">
                <div class="col-4 mb-3">
                  <label>Fecha Inicial</label>
                  <input type="text" class="form-control calendar" id="startdate" placeholder="Click para seleccionar fecha" required>
              </div>
              <div class="col-4 mb-3">
                  <label>Fecha Final</label>
                  <input type="text" class="form-control calendar" id="enddate" placeholder="Click para seleccionar fecha"  required>
              </div>
                <div class="col-4 mb-3">
                  <label> Peaje </label>
                  <select class="w-100 js-example-basic-single" id="option-selected" >
                    <option value="San_Juan">Guajira-San Juan del Cesar</option>
                    <option value="Lobo_Guerrero">Valle Del Cauca-Lobo Guerrero</option>
                    <option value="Rincon_Hondo">Cesar-Rincon Hondo</option>
                    <option value="San_Diego">Cesar-San Diego</option>
                    <option value="Cocorna_Santuario">Antioquia-Cocorna (Santuario)</option>
                    <option value="Puerto_Triunfo">Antioquia-Puerto Triunfo</option>
                    <option value="Guamal">Magdalena-Guamal</option>
                    <option value="Santa_Ana">Magdalena-Santa Ana</option>
                    <option value="Tunia">Cauca-Tunia</option>
                    <option value="Villa_Rica">Cauca-Villa Rica</option>
                    <option value="Cencar">Valle Del Cauca-Cencar</option>
                    <option value="Cerritos">Valle Del Cauca-Cerritos</option>
                    <option value="Ciat">Valle Del Cauca-Ciat</option>
                    <option value="Estambul">Valle Del Cauca-Estambul</option>
                    <option value="Media_Canoa">Valle Del Cauca-Media Canoa</option>
                    <option value="Paso_De_La_Torre">Valle Del Cauca-Paso De La Torre</option>
                    <option value="Rozo">Valle Del Cauca-Rozo</option>
                    <option value="Gamarra">Cesar-Gamarra</option>
                    <option value="Morrison">Cesar-Morrison</option>
                    <option value="Pailitas">Cesar-Pailitas</option>
                    <option value="Platanal">Cesar-Platanal</option>
                    <option value="Aguas_Negras">Santander-Aguas Negras</option>
                    <option value="La_Gomez">Santander-La Gomez</option>
                    <option value="Zambito">Santander-Zambito</option>
                    <option value="Casablanca">Cundinamarca-Casablanca</option>
                    <option value="Saboya">Boyaca-Saboya</option>
                    <option value="Oiba">Santander-Oiba</option>
                    <option value="Curm">Santander-Curm</option>
                    <option value="Los_Curos">Santander-Los Curos</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="save btn btn-default">Reporte</button>
            </form>

          </div>
        </div>

        <div class="card card-big mb-3 " style="display: none;" id="big-main-card-2">
          <div class="card-body">
            <canvas width="800px"  id ="total-veh-barchart"></canvas>
            <canvas width="800px"  id ="total-rec-barchart"></canvas>
            <canvas width="800px"  id ="linechart-0"></canvas>
            <canvas width="800px"  id ="linechart-1"></canvas>
            <canvas width="800px"  id ="linechart-2"></canvas>         
            <canvas width="800px"  id ="ejes-0"></canvas>
            <canvas width="800px"  id ="linechart-3"></canvas>     
            <canvas width="800px"  id ="linechart-4"></canvas>               
            <canvas width="800px"  id ="linechart-5"></canvas>         
            <canvas width="800px"  id ="ejes-1"></canvas>        
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="/static/assets/js/app/app-reporte.js"></script>


{% endblock javascripts %}
