{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}

    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
          <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Reporte Peaje</h3>
          </div>
          <div class="col-12 col-sm-3 ml-auto" >
            <img  style="object-fit: contain;width: 300px;" src="/static/assets/img/logos_join.png" alt="Invias">
          </div>
        </div>
        <!-- End Page Header -->
        <div class="card card-big mb-3">
          <div class="card-body">
            <form  action =" " method="POST" id="post-form">{% csrf_token %}
              <div class="form-row">
                <div class="col-4 mb-3">
                  <label>Fecha Inicial</label>
                  <input type="text" class="form-control calendar" id="startdate" placeholder="Click para seleccionar fecha" required>
                </div>
                <div class="col-4 mb-3">
                  <label>Fecha Final</label>
                  <input type="text" class="form-control calendar" id="enddate" placeholder="Click para seleccionar fecha"  required>
                </div>
                <div class="col-4 mb-3">
                  <label> Peaje </label>
                  <select class="w-100 js-example-basic-single" id="option-selected" >
                    <option value="el_bordo">Cauca-El Bordo</option>
                    <option value="los_llanos">Antioquia-Los Llanos</option>
                    <option value="taraza">Antioquia-Taraza</option>
                    <option value="cocorna">Antioquia-Cocorna</option>
                    <option value="puerto_triunfo">Antioquia-Puerto Triunfo</option>
                    <option value="rio_frio">Valle Del Cauca-Rio Frio</option>
                    <option value="toro">Valle Del Cauca-Toro</option>
                    <option value="cencar">Valle Del Cauca-Cencar</option>
                    <option value="cerrito">Valle Del Cauca-Cerrito</option>
                    <option value="ciat">Valle Del Cauca-Ciat</option>
                    <option value="estambul">Valle Del Cauca-Estambul</option>
                    <option value="mediacanoa">Valle Del Cauca-Mediacanoa</option>
                    <option value="paso_de_la_torre">Valle Del Cauca-Paso De La Torre</option>
                    <option value="rozo">Valle Del Cauca-Rozo</option>
                    <option value="villarica">Valle Del Cauca-Villarica</option>
                    <option value="tunia">Valle Del Cauca-Tunia</option>
                    <option value="loboguerrero">Valle Del Cauca-Loboguerrero</option>
                    <option value="bicentenario">Cundinamarca-Bicentenario</option>
                    <option value="casablanca">Cundinamarca-Casablanca</option>
                    <option value="carimagua">Cordoba-Carimagua</option>
                    <option value="arcabuco">Boyaca-Arcabuco</option>
                    <option value="el_crucero">Boyaca-El Crucero</option>
                    <option value="sachica">Boyaca-Sachica</option>
                    <option value="saboya">Boyaca-Saboya</option>
                    <option value="cano">Nariño-Cano</option>
                    <option value="daza">Nariño-Daza</option>
                    <option value="platanal">Cesar-Platanal</option>
                    <option value="san_diego">Cesar-San Diego</option>
                    <option value="san_juan">Cesar-San Juan</option>
                    <option value="morrison">Cesar-Morrison</option>
                    <option value="pailitas">Cesar-Pailitas</option>
                    <option value="rincon_hondo">Cesar-Rincon Hondo</option>
                    <option value="zambito">Cesar-Zambito</option>
                    <option value="cerritos_ii">Risaralda-Cerritos Ii</option>
                    <option value="rio_blanco">Santander-Rio Blanco</option>
                    <option value="oiba">Santander-Oiba</option>
                    <option value="los_curos">Santander-Los Curos</option>
                    <option value="gamarra">Santander-Gamarra</option>
                    <option value="la_gomez">Santander-La Gomez</option>
                    <option value="aguas_negras">Santander-Aguas Negras</option>
                    <option value="san_clemente">Caldas-San Clemente</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="save btn btn-primary">Reporte</button>
            </form>

          </div>
        </div>

        <div class="card card-big mb-3 " style="display: none;" id="big-main-card-2">
          <img id='invias-pdf' src='/static/assets/img/Invias.png' style="opacity:0;">
          <div class="card-body">
            <canvas width="800px"  id ="total-veh-barchart"></canvas>
            <canvas width="800px"  id ="total-rec-barchart"></canvas>
            <canvas width="800px"  id ="linechart-0"></canvas>
            <canvas width="800px"  id ="linechart-1"></canvas>
            <canvas width="800px"  id ="linechart-2"></canvas>         
            <canvas width="800px"  id ="ejes-0"></canvas>
            <canvas width="800px"  id ="linechart-3"></canvas>     
            <canvas width="800px"  id ="linechart-4"></canvas>               
            <canvas width="800px"  id ="linechart-5"></canvas>         
            <canvas width="800px"  id ="ejes-1"></canvas>
          </div>        
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="/static/assets/js/app/app-reporte.js"></script>


{% endblock javascripts %}
