{% extends "layouts/base.html" %}

{% block title %} New post {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.snow.css"> 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/custom.css">

{% endblock stylesheets %}

{% block content %}

    <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
      <div class="page-header row  py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          <h3 class="page-title" id="page-title" style="white-space: nowrap;">{% if 'peaje' in request.path %}Tablas{% elif 'departamental' in request.path %}Tablas Departamento{% else %}Tablas General{% endif %}</h3>
          <span class="text-uppercase page-subtitle" id="peaje-name"></span>
            
        </div>
        <div class="col-12 col-sm-3 ml-auto mr-3" >
            <img  style="object-fit: contain;width: 300px;" src="/static/assets/img/logos_join.png" alt="Invias">
        </div>
          
      </div>
      <!-- End Page Header -->
      <div class="card small mb-3">
        <div class="card-body">
          <form  action =" " method="POST" id="post-form-2">{% csrf_token %}
              <div class="form-row">
                <div class="col-4 mb-3">
                  <label>Fecha Inicial</label>
                  <input type="text" class="form-control calendar" id="startdate" placeholder="mm/dd/yyyy" required>
                  <div>
                    <h5 id="std_error" style="color: red;"></h5>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label>Fecha Final</label>
                  <input type="text" class="form-control calendar" id="enddate" placeholder="mm/dd/yyyy" required>
                  <div>
                    <h5 id="end_error" style="color: red;"></h5>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label>{% if 'peaje' in request.path %} Peaje {% elif 'departamental' in request.path %} Departamento {% else %}{% endif %}</label>
                  <select class="w-100 js-example-basic-single" id="option-selected" >
                    {% if 'peaje' in request.path %}
                    <option value="San_Juan">Guajira-San Juan del Cesar</option>
                    <option value="Lobo_Guerrero">Valle Del Cauca-Lobo Guerrero</option>
                    <option value="Rincon_Hondo">Cesar-Rincon Hondo</option>
                    <option value="San_Diego">Cesar-San Diego</option>
                    <option value="Cocorna_Santuario">Antioquia-Cocorna (Santuario)</option>
                    <option value="Puerto_Triunfo">Antioquia-Puerto Triunfo</option>
                    <option value="Guamal">Magdalena-Guamal</option>
                    <option value="Santa_Ana">Magdalena-Santa Ana</option>
                    <option value="Tunia">Cauca-Tunia</option>
                    <option value="Villa_Rica">Cauca-Villa Rica</option>
                    <option value="Cencar">Valle Del Cauca-Cencar</option>
                    <option value="Cerritos">Valle Del Cauca-Cerritos</option>
                    <option value="Ciat">Valle Del Cauca-Ciat</option>
                    <option value="Estambul">Valle Del Cauca-Estambul</option>
                    <option value="Media_Canoa">Valle Del Cauca-Media Canoa</option>
                    <option value="Paso_De_La_Torre">Valle Del Cauca-Paso De La Torre</option>
                    <option value="Rozo">Valle Del Cauca-Rozo</option>
                    <option value="Gamarra">Cesar-Gamarra</option>
                    <option value="Morrison">Cesar-Morrison</option>
                    <option value="Pailitas">Cesar-Pailitas</option>
                    <option value="Platanal">Cesar-Platanal</option>
                    <option value="Aguas_Negras">Santander-Aguas Negras</option>
                    <option value="La_Gomez">Santander-La Gomez</option>
                    <option value="Zambito">Santander-Zambito</option>
                    <option value="Casablanca">Cundinamarca-Casablanca</option>
                    <option value="Saboya">Boyaca-Saboya</option>
                    <option value="Oiba">Santander-Oiba</option>
                    <option value="Curm">Santander-Curm</option>
                    <option value="Los_Curos">Santander-Los Curos</option>
                    {% elif 'departamental' in request.path %}
                    <option value="Guajira">Guajira</option>
                    <option value="Valle_Del_Cauca">Valle Del Cauca</option>
                    <option value="Cesar">Cesar</option>
                    <option value="Antioquia">Antioquia</option>
                    <option value="Magdalena">Magdalena</option>
                    <option value="Cauca">Cauca</option>
                    <option value="Santander">Santander</option>
                    <option value="Cundinamarca">Cundinamarca</option>
                    <option value="Boyaca">Boyaca</option>
                    
                    
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio" id="radio-rec" value="Recaudo" >Recaudo
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio" id="radio-veh" value="Vehiculo" >Vehiculos
                </label>
              </div>
              <button type="submit" class="save btn btn-primary" id="form-button">Tabular</button>
            </form>
            
          </div>
        </div>
        
        <div class="card small mb-3" id="table-card" style="display: none;">
          <table id="example"  class="table table-striped table-bordered" style="width:100%;" >
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Cat.I</th>
                    <th>Cat.IEB</th>
                    <th>Cat.II</th>
                    <th>Cat.III</th>
                    <th>Cat.IV</th>
                    <th>Cat.V</th>
                    <th>Eje EG</th>
                    <th>Eje EA</th>
                    <th>Eje ER</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                  <th>Fecha</th>
                  <th>Cat.I</th>
                  <th>Cat.IEB</th>
                  <th>Cat.II</th>
                  <th>Cat.III</th>
                  <th>Cat.IV</th>
                  <th>Cat.V</th>
                  <th>Eje EG</th>
                  <th>Eje EA</th>
                  <th>Eje ER</th>
                  <th>Total</th>
                </tr>
            </tfoot>
          </table>
          </div>
        </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/datatables.min.js"></script>
<script src="/static/assets/js/app/app-tablas.js"></script>




{% endblock javascripts %}
