{% extends "layouts/base.html" %}

{% block title %} New post {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.snow.css"> 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/r-2.2.6/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/css/custom.css">

{% endblock stylesheets %}

{% block content %}

    <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
      <div class="page-header row  py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
          <h3 class="page-title" id="page-title" style="white-space: nowrap;">{% if 'peaje' in request.path %}Base de Datos{% elif 'departamental' in request.path %}Base de Datos Departamento{% else %}Base de Datos General{% endif %}</h3>
          <span class="text-uppercase page-subtitle" id="peaje-name"></span>
            
        </div>
        <div class="col-12 col-sm-3 ml-auto mr-3" >
            <img  style="object-fit: contain;width: 300px;" src="/static/assets/img/logos_join.png" alt="Invias">
        </div>
          
      </div>
      <!-- End Page Header -->
      <div class="card small mb-3">
        <div class="card-body">
          <form  action =" " method="POST" id="post-form-2">{% csrf_token %}
              <div class="form-row">
                <div class="col-4 mb-3">
                  <label for="startdate">Fecha Inicial</label>
                  <input type="text" class="form-control calendar" id="startdate" placeholder="mm/dd/yyyy" required>
                  
                </div>
                <div class="col-4 mb-3">
                  <label for="enddate">Fecha Final</label>
                  <input type="text" class="form-control calendar" id="enddate" placeholder="mm/dd/yyyy" required>
                  
                </div>
                <div class="col-4 mb-3">
                  <label>{% if 'peaje' in request.path %} Peaje {% elif 'departamental' in request.path %} Departamento {% else %}{% endif %}</label>
                  <select class="w-100 js-example-basic-single" id="option-selected" >
                    {% if 'peaje' in request.path %}
                      <option value="El Bordo">Cauca-El Bordo</option>
                      <option value="Los Llanos">Antioquia-Los Llanos</option>
                      <option value="Taraza">Antioquia-Taraza</option>
                      <option value="Cocorna">Antioquia-Cocorna</option>
                      <option value="Puerto Triunfo">Antioquia-Puerto Triunfo</option>
                      <option value="Rio Frio">Valle Del Cauca-Rio Frio</option>
                      <option value="Toro">Valle Del Cauca-Toro</option>
                      <option value="Cencar">Valle Del Cauca-Cencar</option>
                      <option value="Cerrito">Valle Del Cauca-Cerrito</option>
                      <option value="Ciat">Valle Del Cauca-Ciat</option>
                      <option value="Estambul">Valle Del Cauca-Estambul</option>
                      <option value="Mediacanoa">Valle Del Cauca-Mediacanoa</option>
                      <option value="Paso de la Torre">Valle Del Cauca-Paso De La Torre</option>
                      <option value="Rozo">Valle Del Cauca-Rozo</option>
                      <option value="Villarica">Valle Del Cauca-Villarica</option>
                      <option value="Tunia">Valle Del Cauca-Tunia</option>
                      <option value="Loboguerrero">Valle Del Cauca-Loboguerrero</option>
                      <option value="Bicentenario">Cundinamarca-Bicentenario</option>
                      <option value="Casablanca">Cundinamarca-Casablanca</option>
                      <option value="Carimagua">Cordoba-Carimagua</option>
                      <option value="Arcabuco">Boyaca-Arcabuco</option>
                      <option value="El Crucero">Boyaca-El Crucero</option>
                      <option value="Sachica">Boyaca-Sachica</option>
                      <option value="Saboya">Boyaca-Saboya</option>
                      <option value="Cano">Nariño-Cano</option>
                      <option value="Daza">Nariño-Daza</option>
                      <option value="Platanal">Cesar-Platanal</option>
                      <option value="San Diego">Cesar-San Diego</option>
                      <option value="San Juan">Cesar-San Juan</option>
                      <option value="Morrison">Cesar-Morrison</option>
                      <option value="Pailitas">Cesar-Pailitas</option>
                      <option value="Rincon Hondo">Cesar-Rincon Hondo</option>
                      <option value="Zambito">Cesar-Zambito</option>
                      <option value="Cerritos II">Risaralda-Cerritos Ii</option>
                      <option value="Rio Blanco">Santander-Rio Blanco</option>
                      <option value="Oiba">Santander-Oiba</option>
                      <option value="Los Curos">Santander-Los Curos</option>
                      <option value="Gamarra">Santander-Gamarra</option>
                      <option value="La Gomez">Santander-La Gomez</option>
                      <option value="Aguas Negras">Santander-Aguas Negras</option>
                      <option value="San Clemente">Caldas-San Clemente</option>
                      {% elif 'departamental' in request.path %}
                      <option value="Cesar">Cesar</option>
                      <option value="Cauca">Cauca</option>
                      <option value="Antioquia">Antioquia</option>
                      <option value="Valle del Cauca">Valle Del Cauca</option>
                      <option value="Cundinamarca">Cundinamarca</option>
                      <option value="Cordoba">Cordoba</option>
                      <option value="Boyaca">Boyaca</option>
                      <option value="Nariño">Nariño</option>
                      <option value="Risaralda">Risaralda</option>
                      <option value="Santander">Santander</option>
                      <option value="Caldas">Caldas</option>
                      
                    
                    
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio" id="radio-rec" value="Recaudo" >Recaudo
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio" id="radio-veh" value="Vehiculo" >Vehiculos
                </label>
              </div>
              <button type="submit" class="save btn btn-primary" id="form-button">Tabular</button>
            </form>
            
          </div>
        </div>
        
        <div class="card small mb-3" id="table-card" style="display: none;">
          <table id="example"  class="table table-striped table-bordered" style="width:100%;" >
            <thead>
                <tr>
                  <th>Fechas</th>
                  <th>Cat.I</th>
                  <th>Cat.IE</th>
                  <th>Cat.IEE</th>
                  <th>Cat.II</th>
                  <th>Cat.IIA</th>
                  <th>Cat.IIE</th>
                  <th>Cat.IIEE</th>
                  <th>Cat.III</th>
                  <th>Cat.IIIE</th>
                  <th>Cat.IV</th>
                  <th>Cat.IVE</th>
                  <th>Cat.V</th>
                  <th>Cat.VAB</th>
                  <th>Cat.VE</th>
                  <th>Cat.VI</th>
                  <th>Cat.VII</th>
                  <th>Eje EG</th>
                  <th>Eje EA</th>
                  <th>Eje ER</th>
                  <th>Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                  <th>Fechas</th>
                  <th>Cat.I</th>
                  <th>Cat.IE</th>
                  <th>Cat.IEE</th>
                  <th>Cat.II</th>
                  <th>Cat.IIA</th>
                  <th>Cat.IIE</th>
                  <th>Cat.IIEE</th>
                  <th>Cat.III</th>
                  <th>Cat.IIIE</th>
                  <th>Cat.IV</th>
                  <th>Cat.IVE</th>
                  <th>Cat.V</th>
                  <th>Cat.VAB</th>
                  <th>Cat.VE</th>
                  <th>Cat.VI</th>
                  <th>Cat.VII</th>
                  <th>Eje EG</th>
                  <th>Eje EA</th>
                  <th>Eje ER</th>
                  <th>Total</th>
                </tr>
            </tfoot>
          </table>
          </div>
        </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/r-2.2.6/datatables.min.js"></script>
<script src="/static/assets/js/app/app-tablas.js"></script>




{% endblock javascripts %}
